<% meta title: "Home", description: "Build a live dashboard of your side projects." %>

<div class="jumbotron">
  <h1>show off your side projects</h1><br>
  <p>free, embeddable dashboard that shows recent activity from your side projects</p>
  <%= link_to "get started", signup_path, class: 'btn btn-lg btn-primary' %>
</div>
